// START ===== import =====

@import "../../ui/style/values";
@import "../../ui/style/mixins";
// END ===== import =====

// START ===== style =====

.stageWorks {
  &__container {
    max-width: 1460px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 70px;
    margin: 0 auto;
    @media (min-width: 767px) {
      padding-bottom: 125px;
    }
    @media (min-width: 1023px) {
      padding-bottom: 150px;
    }
  }
  &__title {

    padding-bottom: 40px;
    @media (min-width: 767px) {
      padding-bottom: 80px;
    }
    @media (min-width: 1023px) {
      padding-bottom: 95px;
    }
  }
  &__body_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (min-width: 767px) {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__body {
    background-image: url(../../assets/img/stageWorksBackgroundMobile.png);
    background-repeat: no-repeat;
    background-size: 100% 93%;
    background-position: 0% 0%;
    @media (min-width: 1023px) {
      background-image: url(../../assets/img/stageWorksBackground.png);
      background-repeat: no-repeat;
      background-size: 74% 70%;
      background-position: 64% 23%;
    }
    @media (min-width: 767px) {
      background-image: url(../../assets/img/stageWorksBackgroundTablet.png);
      background-repeat: no-repeat;
      background-size: 108% 85%;
      background-position: -8rem 45%;
    }
  }
}


// END ===== style =====
