// START ===== import =====

@import "../../ui/style/values";
@import "../../ui/style/mixins";

// END ===== import =====

// START ===== style =====

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  &__wrapper {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 500;
    background-color: #fff;
  }
  &__container {
    z-index: 500;
  }
  &__body {
    z-index: 500;
    display: flex;
    align-items: center;
    padding: 5px 0;
    min-height: 80px;
    justify-content: space-between;

    @media (max-width: 767px) {
      min-height: 36px;
      padding: 8px 0;
    }
  }
  &__main {
    @media (min-width: 767px) {
      display: flex;
      flex: 0 1 591px;
      align-items: center;
      padding: 0 5px;
    }
  }
  &__menu {
    display: flex;
    flex-wrap: wrap;
  }
}

// div.header__container {
//     margin: 0;
// }
.menu {
  flex: 0 1 785px;
  &__body {
    flex: 0 1 100%;
    @media (max-width: 767px) {
      position: fixed;
      width: 100%;
      height: 100%;
      overflow: auto;
      top: 40px;
      opacity: 0;
      left: 0;
      visibility: hidden;
      transition: all 0.6s ease 0s;
      background-color: rgb(15, 15, 15, 0.7);
      display: flex;
      justify-content: flex-end;
      overflow: auto;
    }
  }
  &__body._active {
    opacity: 1;
    visibility: visible;
    z-index: 8;
    transition: all 0.6s ease;
  }
  &__list {
    @media (min-width: 767px) {
      display: flex;
      justify-content: space-between;
      max-width: 100%;
    }
    @media (max-width: 767px) {
      padding-right: 16px;
      padding-top: 16px;
    }
  }
  &__item {
    white-space: nowrap;
    margin: 0 3px;
    padding: 5px 0px;
    z-index: 10;
    @media (max-width: 767px) {
      display: flex;
      margin: 0;
    }
  }
  &__link {
    transition: all 0.3s ease 0s;
    color: $TEXT_COLOR2;
    @include fonts(14, 20, 500, false, Montserrat);
    &:active {
      color: $ACCENT_COLOR;
    }
    &:hover,
    &:focus {
      color: $TEXT_COLOR1;
    }
    @media (max-width: 1023px) {
      @include fonts(12, 20, 500, false, Montserrat);
    }
    @media (max-width: 767px) {
      @include fonts(14, 20, 500, false, Montserrat);
      color: #fff;
    }
    @media (max-width: 767px) {
      margin-left: auto;
    }
  }
}

.actions_header {
  display: flex;
  justify-content: space-between;
  flex: 0 1 215px;
  @media (min-width: 1023px) {
    flex: 0 1 348px;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  @media (min-width: 767px) {
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
  }

  &__btn_container {
    display: none;
    @media (min-width: 767px) {
      display: flex;
      justify-content: flex-end;
      order: 2;
      flex: 0 1 162px;
    }
    @media (min-width: 1023px) {
      justify-content: center;
      order: 0;
      flex: 0 1 196px;
    }
  }
  &__btn {
    transition: all 0.3s ease;
    @media (min-width: 767px) {
      white-space: nowrap;
      padding: 8px 23px;
      border-radius: 10px;
      border: 2px solid $ACCENT_COLOR;
      background: inherit;
      letter-spacing: 0.8px;
      @include fonts(12, 15, 500, $ACCENT_COLOR, Montserrat);

      &:hover,
      &:focus {
        background: $ACCENT_COLOR;
        color: #fff;
      }

      &:active {
        @include fonts(10, 12, 500, #fff, Montserrat);
        background: $ACCENT_COLOR;
        transform: scale(0.87);
      }
    }
    @media (max-width: 1023px) {
      @include fonts(11, 13, 500, $ACCENT_COLOR, Montserrat);
      padding: 8px 12.5px;
      margin-top: 6px;
      &:active {
        margin-right: 6px;
        margin-top: 7.5px;
      }
    }
  }

  &__num {
    white-space: nowrap;

    @include fonts(14, 20, 600, $TEXT_COLOR2, Montserrat);
    @media (min-width: 1023px) {
      padding: 8px 0 8px 5px;
    }
  }
}
.action_header__phone {
  display: none;
  @media (max-width: 767px) {
    display: block;
    max-width: 26px;
  }
}

.action_header__icon_menu {
  display: none;
  transition: all 0.3s ease;
  background: transparent;
  border: none;

  @media (max-width: 767px) {
    position: relative;
    display: block;
    width: 27px;
    height: 20px;
    cursor: pointer;
  }
  &:focus {
    border: none;
  }
  & span,
  &::before,
  &::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 10%;
    transition: all 0.3s ease 0s;
    background-color: $ACCENT_COLOR;
    border-radius: 5px;
  }

  &::after,
  &:before {
    content: "";
  }
  &::after {
    bottom: 0;
  }
  &::before {
    top: 0;
  }
  & span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
}

.action_header__icon-menu._active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}
.action_header__icon-menu._active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
}
.action_header__icon-menu._active > span {
  transform: scale(0);
}
// END ===== style =====
