
// START ===== миксина для добавления шрифтов =====
@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../../assets/fonts/#{$file_name}.woff") format("woff"),
            url("../../assets/fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}
// миксин подключает файл со шрифтами
// END ===== миксина для добавления шрифтов =====


// START ===== миксина для добавления шрифтов =====
@mixin fonts($size: false, $lh: false, $weight: false, $color: false, $ff: false) {
    
    @if $size {
        font-size: $size + px;
    }
    @if $color {
        color: $color;
    }
    @if $weight {
        font-weight: $weight;
    }
    @if $lh {
        line-height: $lh + px;
    }
    @if $ff {
        font-family: $ff;
    }
}
// миксин для упрощения написания свойств шрифтов
// END ===== миксина для добавления шрифтов =====


