// START ===== VALUES COLORS =====

$BG_COLOR1: var(--BG_COLOR1);
$BG_COLOR2: var(--BG_COLOR2);
$BG_COLOR3: var(--BG_COLOR3);
$BG_COLOR_MAIN: var(--BG_COLOR_MAIN);
$ACCENT_COLOR: var(--ACCENT_COLOR);
$TEXT_COLOR1: var(--TEXT_COLOR1);
$TEXT_COLOR2: var(--TEXT_COLOR2);
$TEXT_COLOR3: var(--TEXT_COLOR3);
$TEXT_COLOR4: var(--TEXT_COLOR4);
$TEXT_COLOR5: var(--TEXT_COLOR5);
$GRAY_COLOR: var(--GRAY_COLOR);
// $GRADIENT: linear-gradient(180deg, rgba(255,169,107,1) 0%, rgba(238,122,40,1) 100%);
$GRADIENT: var(--GRADIENT);
$GRADIENT_HOVER: var(--GRADIENT_HOVER);

// END ===== VALUES COLORS =====
