@include font("IBMPlexSans", "IBMPlexSans-Regular", "400", "normal");
@include font("icons", "icons", "400", "normal");
@include font("Montserrat", "Montserrat-Medium", "500", "normal");
@include font("Montserrat", "Montserrat-Bold", "700", "normal");
@include font("Montserrat", "Montserrat-SemiBold", "600", "normal");
@include font("Montserrat", "Montserrat-Regular", "400", "normal");
@include font("OpenSans", "OpenSans-Bold", "700", "normal");
@include font("OpenSans", "OpenSans-Regular", "400", "normal");
@include font("PTSerif", "PTSerif-Bold", "700", "normal");
@include font("PTSerif", "PTSerif-Regular", "400", "normal");
@include font("Raleway", "Raleway-Bold", "700", "normal");
@include font("Roboto", "Roboto-Bold", "700", "normal");
@include font("Raleway", "Raleway-Regular", "400", "normal");
@include font("Roboto", "Roboto-Medium", "500", "normal");
@include font("Roboto", "Roboto-Regular", "400", "normal");
