// START ===== style =====

.header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

    &__wrapper{
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 50;
    }
    &__container{
        max-width: 1240px;
        margin: 0 auto;
    }
    &__body{
        display: flex;
        align-items: center;
        padding: 5px 0;
        min-height: 80px;
        justify-content: center;
    }
    &__logo{
        max-width: 108px;
        // height: 34px;
    }
    &__main{
        display: flex;
        flex: 0 0 892/1240*100%;
        align-items: center;
    }

    &__actions{

    }
    &__menu{
        display: flex;
        flex-wrap: nowrap;
    }

}

.menu {
    flex: 0 1 785/893 * 100%;
    &__body{
        flex: 0 0 100%
    }
    &__list{
        display: flex;
        justify-content: space-evenly;
        max-width: 100%;
    }
    &__item{
        white-space: nowrap;
    }
    &__link{

    }

}

.actions-header {
    display: flex;
    flex: 0 0 348/1240*100%;
    justify-content: space-evenly;
    padding: 0 5px;
    &__btn{
        white-space: nowrap;
    }
    &__num{
        white-space: nowrap;
    }
}

.icon__menu {
    display: none;
}


// END ===== style =====