// START ===== import =====

@import "values";
@import "mixins";
// END ===== import =====

// START ===== style =====
.main-screen {
    margin-top: 39px;
    @media (min-width: 767px) {
        margin-top: 80px;
    }
    &__inner {
        position: relative;
        background-color: rgb(0, 0, 0, 0.75);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
}

.main-content {
    @media (max-width: 767px) {
        padding-top: 182px;
        padding-bottom: 184px;
        text-align: center;
    }
    @media (min-width: 767px) {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    @media (min-width: 1023px) {
        padding-top: 149px;
        padding-bottom: 134px;
    }
    &__title {
        @media (max-width: 767px) {
            margin: 0 auto;
            text-align: center;
            padding-bottom: 32px;
        }
        @include fonts(24, 34, 700, #f5f5f5, Montserrat);
        > span {
            letter-spacing: 1.2px;
        }
        max-width: 430px;
        @media (min-width: 1023px) {
            @include fonts(66, 78, 700, #f5f5f5, Montserrat);
            max-width: 791px;
            > span {
                letter-spacing: 3.2px;
            }
        }
        @media (min-width: 767px) {
            @include fonts(48, 52, 700, #f5f5f5, Montserrat);
            max-width: 573px;
            > span {
                letter-spacing: 2.3px;
            }
        }
    }
    &__sub-title {
        display: none;
        @media (min-width: 1023px) {
            display: block;
            padding-top: 52px;
            @include fonts(36, 43, 600, #f5f5f5, Montserrat);
            max-width: 733px;
        }
        @media (min-width: 767px) {
            display: block;
            padding-top: 32px;
            max-width: 488px;
            @include fonts(24, 34, 600, #f5f5f5, Montserrat);
        }
    }
    &__text {
        display: none;
        @media (min-width: 1023px) {
            display: block;
            padding-top: 24px;
            padding-bottom: 39px;
            @include fonts(16, 26, 500, #f5f5f5, Montserrat);
            max-width: 791px;
            & > br {
                display: none;
            }
        }
        @media (min-width: 767px) {
            display: block;
            padding-top: 15px;
            padding-bottom: 32px;
            max-width: 766px;
            @include fonts(16, 26, 500, #f5f5f5, Montserrat);
        }
    }
    &__button {
        text-transform: uppercase;
        padding: 19.5px 20.5px;
        letter-spacing: 2.5px;
        background: $GRADIENT;
        border-radius: 10px;
        border: none;
        text-align: center;

        @include fonts(12, 17, 600, #fff, Montserrat);
        @media (min-width: 370px) {
            @include fonts(14, 17, 600, #fff, Montserrat);
            letter-spacing: 3px;
        }

        @media (min-width: 767px) {
            @include fonts(16, 20, 600, #fff, Montserrat);
            padding: 22px 27.5px;
        }
        &:hover, &:focus{
            background: $GRADIENT_HOVER;
        }
        &:active{
            transform: scale(0.87);
            background: $GRADIENT_HOVER;
        }
    }
}
// END ===== style =====