// START ===== import =====

@import "values";
@import "mixins";
// END ===== import =====

// START ===== style =====

.stageWorks {
    &__container {
        max-width: 1460px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 70px;
        margin: 0 auto;
        @media (min-width: 767px) {
            padding-bottom: 125px;
        }
        @media (min-width: 1023px) {
            padding-bottom: 150px;
        }
    }
    &__title {
        text-align: center;
        @include fonts(24, 34, 600, $TEXT_COLOR1, Montserrat);
        padding-bottom: 40px;
        @media (min-width: 767px) {
            padding-bottom: 80px;
            @include fonts(30, 36, 600, $TEXT_COLOR1, Montserrat);
        }
        @media (min-width: 1023px) {
            @include fonts(36, 43, 600, $TEXT_COLOR1, Montserrat);
            padding-bottom: 95px;
        }
    }
    &__body-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (min-width: 767px) {
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &__body {
        background-image: url(/img/stageWorksBackgroundMobile.png);
        background-repeat: no-repeat;
        background-size: 100% 93%;
        background-position: 0% 0%;
        @media (min-width: 1023px) {
            background-image: url(/img/stageWorksBackground.png);
            background-repeat: no-repeat;
            background-size: 74% 70%;
            background-position: 64% 23%;
        }
        @media (min-width: 767px) {
            background-image: url(/img/stageWorksBackgroundTablet.png);
            background-repeat: no-repeat;
            background-size: 108% 85%;
            background-position: -8rem 45%;
        }
    }
}

.item-content {
    display: flex;
    justify-content: center;
    &__wrapper {
        box-shadow: 0px 24px 38px rgba(220, 220, 220, 0.14),
            0px 9px 46px rgba(216, 216, 216, 0.12),
            0px 11px 15px rgba(221, 221, 221, 0.2);
        flex: 0 0 320px;
        background-color: #fff;
        position: relative;
        border: 2px solid $ACCENT_COLOR;
        border-radius: 12px;
        padding: 26px 36px 56px;
        max-height: 174px;
    }

    &__title {
        text-align: center;
        @include fonts(18, 22, 600, $TEXT_COLOR1, Montserrat);
        padding-bottom: 12px;
    }
    &__text {
        text-align: center;
        @include fonts(14, 20, 500, $TEXT_COLOR1, Montserrat);
    }
    &__number {
        text-align: center;
        @include fonts(30, 50, 700, $ACCENT_COLOR, Arial);
        background-color: $BG_COLOR2;
        border-radius: 50%;
        position: absolute;
        width: 50px;
        height: 50px;
        left: 43%;
        bottom: -10%;
    }
    @media (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }
    @media (min-width: 767px) {
        &__wrapper {
            max-height: 190px;
            padding: 40px 40px 51px 40px;
        }
        &__title {
            text-align: left;
        }
        &__text {
            text-align: left;
        }
        &__number {
            left: -5%;
        }

        &:nth-of-type(1) {
            flex: 0 1 50%;
            height: 335px;
            // padding-left: 100px;
            padding-right: 6.4%;
            justify-content: flex-end;
        }
        &:nth-of-type(2) {
            flex: 0 1 50%;
            height: 335px;
            padding-top: 57px;
            padding-left: 6.4%;
            justify-content: start;
        }
        &:nth-of-type(3) {
            flex: 0 0 100%;
            height: 262px;
            // padding-left: 410px;
            padding-right: 28%;
            justify-content: flex-end;
        }
        &:nth-of-type(4) {
            flex: 0 1 50%;
            height: 338px;
            padding-right: 7.1%;
            justify-content: flex-end;
        }
        &:nth-of-type(5) {
            flex: 0 1 50%;
            padding-top: 132px;
            padding-left: 13px;
            height: 338px;
            justify-content: start;
        }
    }

    @media (min-width: 1023px) {
        &__wrapper {
            flex: 0 0 348px;
        }
        &:nth-of-type(1) {
            flex: 0 1 50%;
            height: 355px;
            padding-right: 0;
            padding-left: 112px;
            justify-content: start;
            order: 1;
        }
        &:nth-of-type(2) {
            flex: 0 1 50%;
            height: 355px;
            padding-top: 57px;
            padding-left: 12px;
            justify-content: start;
            order: 2;
        }
        &:nth-of-type(3) {
            flex: 0 1 50%;
            height: 282px;
            justify-content: flex-end;
            padding-top: 5px;
            padding-right: 108px;
            order: 4;
        }
        &:nth-of-type(4) {
            flex: 0 0 50%;
            height: 282px;
            padding-left: 0;
            padding-right: 100px;
            justify-content: flex-end;

            order: 3;
        }
        &:nth-of-type(5) {
            flex: 0 1 100%;
            justify-content: center;
            padding-left: 170px;
            padding-top: 0;
            order: 5;
        }
    }
}

// END ===== style =====
