// START ===== import =====

@import "values";
@import "mixins";
// END ===== import =====

// START ===== style =====

.price {
    @media (min-width: 1224px) {
        &__container {
            background-image: url(/img/priceBackground.png);
            background-repeat: no-repeat;
            background-size: 103% 99%;
            background-position: -4rem 9rem;
        }
    }
    @media (min-width: 1023px) {
        &__title {
            padding-top: 118px;
            padding-bottom: 102px;
        }
        &__box {
            padding-bottom: 160px;
        }
    }
    @media (min-width: 767px) {
        &__container {
            background-image: url(/img/priceBackgroundTablet.png);
            background-repeat: no-repeat;
            background-size: 159% 93%;
            background-position: -47rem 13rem;
        }
        &__title {
            padding-top: 100px;
            padding-bottom: 80px;
        }
        &__box {
            padding-bottom: 100px;
        }
    }
    &__container {
        max-width: 1460px;
        margin: 0 auto;
    }
    &__title {
        padding-top: 60px;
        padding-bottom: 40px;
    }
    &__box {
        max-width: 1270px;
        margin: 0 auto;
        padding: 0 15px;
        padding-bottom: 60px;
    }
}

.item-box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;

    @media (min-width: 1023px) {
        &__container {
            flex: 0 0 398px;
            padding: 48px 14px 42px;
        }
    }
    @media (min-width: 767px) {
        &__container {
            padding: 47px 22px;
            flex-basis: 420px;
        }
        &__header {
            padding-left: 30px;
        }
        &__name {
            padding-bottom: 16px;
            @include fonts(18, 22, 600, $TEXT_COLOR2, Montserrat);
        }
        &__body {
            padding-left: 30px;
            padding-bottom: 32px;
        }
        &__body-item {
            @include fonts(16, 22, 600, $TEXT_COLOR1, Montserrat);
        }
        &__button {
            @include fonts(16, 20, 600, #fff, Montserrat);
            padding: 14px 87px;
        }
    }
    @media (min-width: 370px) {
        &__buutton {
            letter-spacing: 3px;
            padding: 19.5px 57.5px;
        }
    }
    &__container {
        &:not(:last-child) {
            margin-bottom: 34px;
        }
        border-radius: 16px;
        flex: 0 1 343px;
        padding: 45px 12px;
        &:last-child .box-footer__box {
            justify-content: center;
        }
    }
    &__header {
        padding-left: 23px;
        padding-bottom: 40px;
    }
    &__name {
        padding-bottom: 8px;
        @include fonts(18, 22, 600, $TEXT_COLOR2, Montserrat);
    }
    &__cost {
        @include fonts(56, 67, 700, #333333, Montserrat);
        & > ._cost-value {
            font-size: 36px;
            line-height: 34px;
        }
    }
    &__value {
        text-align: left;
        white-space: nowrap;
        @include fonts(14, 20, 600, #838383, Montserrat);
    }

    &__body {
        padding-left: 23px;
        padding-bottom: 34px;
    }
    &__body-item {
        @include fonts(14, 20, 600, $TEXT_COLOR1, Montserrat);
        white-space: nowrap;
        &:not(:last-child) {
            padding-bottom: 17px;
        }
    }
    &__button-container {
        text-align: center;
    }
    &__button {
        text-transform: uppercase;
        padding: 19.5px 42.5px;
        letter-spacing: 3px;
        background: $GRADIENT;
        border-radius: 10px;
        border: none;
        text-align: center;
        transition: all 0.3s ease;
        width: 100%;
        @include fonts(14, 17, 600, #fff, Montserrat);
        letter-spacing: 2.5px;

        &:hover,
        &:focus {
            background: $GRADIENT_HOVER;
        }
        &:active {
            transform: scale(0.87);
            background: $GRADIENT_HOVER;
        }
    }
}

.box-footer {
    @media (min-width: 1023px) {
    }
    @media (min-width: 767px) {
        &__title {
            @include fonts(16, 22, 600, $TEXT_COLOR1, Montserrat);
        }
        &__box {
            flex-wrap: nowrap;
            padding-bottom: 52px;
            justify-content: space-between;
        }
        &__item {
            &:nth-of-type(1) {
                flex: 0 0 108px;
            }
            &:nth-of-type(2) {
                flex: 0 0 82px;
            }
            &:last-child {
                flex: 0 0 170px;
                margin-top: 0;
            }
        }
    }

    &__title {
        text-align: center;
        padding-bottom: 12px;
        @include fonts(14, 20, 600, $TEXT_COLOR1, Montserrat);
    }
    &__box {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding-bottom: 32px;
    }
    &__item {
        &:nth-of-type(1) {
            flex: 0 1 min(45%, 150px);
        }
        &:nth-of-type(2) {
            flex: 0 1 min(45%, 150px);
        }
        &:last-child {
            flex: 0 1 min(93%, 305px);
            margin-top: 5px;
        }
    }
    &__button {
        @include fonts(12, 14, 500, $TEXT_COLOR1, Montserrat);
        text-align: center;
        height: 40px;
        border: 1px solid #c2c2c2;
        background: #fff;
        border-radius: 5px;
        width: 100%;
        & > ._cost-value {
            font-size: 9px;
            line-height: 11px;
        }
        &:hover,
        &:focus {
            background: #f7f5f5;
        }
        &:active {
            border-color: $ACCENT_COLOR;
        }
    }
}

.theme-background-color-blue {
    background: $BG_COLOR1;
    background-image: url(/img/cardsBackgroundCircle.png);
    background-repeat: no-repeat;
    background-size: 43% 27%;
    background-position: right top;
}
.theme-background-color-light-pink {
    background: $BG_COLOR2;
    background-image: url(/img/cardsBackgroundCircle.png);
    background-repeat: no-repeat;
    background-size: 43% 27%;
    background-position: right top;
}
.theme-background-color-pink {
    background: rgba(245, 217, 198, 1);
    background-image: url(/img/cardsBackgroundCircleBiggest.png);
    background-repeat: no-repeat;
    background-size: 47% 29%;
    background-position: right top;
}

._icon-list-stile-image:before {
    display: inline-block;
    color: $TEXT_COLOR2;
    padding-right: 9px;
    font-size: 18px;
}

._cost-value {
    font-size: 36px;
    line-height: 34px;
}
