// START ===== import =====

@import "values";
@import "mixins";
// END ===== import =====

// START ===== style =====

.ourLocation {
    &__container {
        margin: 0 auto;
        max-width: 1460px;
        overflow: hidden;
        background-image: url(/img/ourLocationBackgroundMobile.png);
        background-repeat: no-repeat;
        background-size: 100% 85%;
        background-position: 1% -49%;
        padding-bottom: 62px;
        @media (min-width: 767px) {
            background-image: url(/img/ourLocationBackground.png);
            background-size: 136% 86%;
            background-position: 52% 10%;
            padding-bottom: 80px;
            padding-top: 40px;
        }
        @media (min-width: 1023px) {
            background-image: url(/img/ourLocationBackground.png);
            background-size: 100% 83%;
            background-position: 0 27%;
            padding-bottom: 80px;
            padding-top: 60px;
        }
    }
    &__title {
        padding-top: 0;
        @media (min-width: 767px) {
            
        }
        @media (min-width: 1023px) {
            
        }
    }
}

.slider-ourLocation {
    &,
    .__wrapper {
        max-width: 490px;
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        padding: 0 15px;
        padding-top: 31px;
        padding-bottom: 32px;

        @media (min-width: 767px) {
            padding-top: 74px;
            padding-bottom: 30px;
            max-width: 100%;
        }
        @media (min-width: 1023px) {
            padding-top: 80px;
            padding-bottom: 57px;
            max-width: 1325px;
        }
    }
    &__arrows {
        position: absolute;
        top: 45%;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        @media (min-width: 767px) {
            top: 46%;
        }
        @media (min-width: 1023px) {
            top: 43%;
        }
        &-left,
        &-right {
            transition: all 0.3s ease;
            position: relative;
            height: 36px;
            width: 36px;
            border: none;
            z-index: 11;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            border-radius: 50%;
            cursor: pointer;
            filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
            @media (min-width: 1023px) {
                height: 73px;
                width: 73px;
            }
            @media (min-width: 767px) {
                height: 64px;
                width: 64px;
            }
            &:after,
            &:before {
                content: "";
                position: absolute;
                height: 7%;
                width: 40%;
                background-color: $ACCENT_COLOR;
                border-radius: 5px;
            }
            &:active::after,
            &:active::before {
                background-color: #fff;
            }
            &:after {
                transform: rotate(-45deg);
                top: 34%;
            }
            &:before {
                transform: rotate(45deg);
                bottom: 34%;
            }
            &:hover,
            &:focus {
                background-color: $BG_COLOR1;
            }
            &:active {
                background-color: $ACCENT_COLOR;
            }
        }
        &-right {
            transform: rotate(180deg);
        }
    }

    &__body {
        margin: 0 auto;
        width: 94%;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (min-width: 767px) {
            width: 94%;
            justify-content: space-between;
        }
    }
    &__body-item {
        position: relative;
        display: none;
        &:nth-of-type(1) {
            display: block;
            flex: 0 1 100%;
        }
        @media (min-width: 767px) {
            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(3) {
                display: block;
                flex: 1 1 278px;
            }
            &:nth-of-type(2) {
                margin: 0 15px;
            }
        }
        &:hover .slider-ourLocation__body-name{
            visibility: visible;
            opacity: 1;
            
        }
    }
    &__body-name {
        display: none;
        @media (min-width: 1023px) {
            display: block;
            position: absolute;
            left: 32px;
            bottom: 16px;
            @include fonts(18, 22, 700, #fff, Montserrat);
            visibility: hidden;
            opacity: 0;
            transition: all 0.3s ease;
        }
    }
    &__body-img {
        width: 100%;
    }
}
.ourLocation__btn-container {
    text-align: center;
    .ourLocation__btn {
        text-transform: uppercase;
        padding: 19.5px 42.5px;
        letter-spacing: 3px;
        background: $GRADIENT;
        border-radius: 10px;
        border: none;
        text-align: center;
        transition: all 0.3s ease;
        @include fonts(14, 17, 600, #fff, Montserrat);
        letter-spacing: 2.5px;

        @media (min-width: 370px) {
            letter-spacing: 3px;
            padding: 19.5px 57.5px;
        }
        @media (min-width: 767px) {
            @include fonts(16, 20, 600, #fff, Montserrat);
            padding: 14px 54px;
        }
        &:hover,
        &:focus {
            background: $GRADIENT_HOVER;
        }
        &:active {
            transform: scale(0.87);
            background: $GRADIENT_HOVER;
        }
    }
}

// END ===== style =====
