// START ===== import =====

@import "values";
@import "mixins";
// END ===== import =====

// START ===== style =====

.ourWorks {
    // ===== DISPLAY NONE ======
    @media (min-width: 1023px) {
    }

    // ===== DISPLAY NONE ======
    &__container {
        max-width: 1440px;
        margin: 0 auto;
        overflow: hidden;
    }
    &__title {
        text-align: center;
        @media (min-width: 1023px) {
            @include fonts(36, 43, 600, $TEXT_COLOR1, Montserrat);
            padding-top: 120px;
            // padding-bottom: 118px;
        }
        @media (min-width: 767px) {
            @include fonts(30, 36, 600, $TEXT_COLOR1, Montserrat);
            padding-top: 100px;
            // padding-bottom: 107px;
        }
        padding-top: 60px;
        // padding-bottom: 56px;
        @include fonts(24, 34, 600, $TEXT_COLOR1, Montserrat);
    }
}

.slider {
    position: relative;
    &__wrapper {
        position: relative;
        padding-top: 56px;
        padding-bottom: 77px;
        overflow: hidden;
        @media (min-width: 767px) {
            padding-top: 107px;
        }
        @media (min-width: 1023px) {
            padding-top: 118px;
        }
    }
    &__body {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        &-item {
            visibility: hidden;
            opacity: 0;
            display: none;
            transition: all 0.3s ease none;
            cursor: pointer;

            &:nth-of-type(1) {
                min-width: 207px;
                display: block;
                visibility: visible;
                opacity: 1;
                // transform: translate(-60%) scaleY(161%) scaleX(166%);
            }
            &:nth-of-type(2) {
                min-width: 207px;
                display: block;
                visibility: visible;
                transform: scale(114%);
                opacity: 1;
                z-index: 10;
            }
            &:nth-of-type(3) {
                min-width: 207px;
                display: block;
                visibility: visible;
                opacity: 1;
                // transform: translate(60%) scaleY(161%) scaleX(166%);
            }
        }
        &-img {
            width: 100%;
            height: 100%;
        }
    }
}
.slider__arrows {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    border: none;

    @media (min-width: 1023px) {
        // width: 57%;
        top: 49%;
        // left: 21.5%;
    }
    @media (min-width: 767px) {
        // width: 63%;
        top: 49%;
        // left: 18.5%;
    }

    &-left{
        margin-right: 210px;
    }
    &-right{
        
    }
    &-left,
    &-right {
        position: relative;
        width: 100%;
        height: 36px;
        width: 36px;
        border: none;
        z-index: 11;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 50%;
        cursor: pointer;

        @media (min-width: 1023px) {
            height: 73px;
            width: 73px;
        }
        @media (min-width: 767px) {
            height: 64px;
            width: 64px;
        }

        &:after,
        &:before {
            content: "";
            position: absolute;
            height: 7%;
            width: 50%;
            background-color: $ACCENT_COLOR;
            border-radius: 20%;
        }
        &:active::after,
        &:active::before {
            background-color: #fff;
        }
        &:after {
            transform: rotate(-45deg);
            top: 30%;
        }
        &:before {
            transform: rotate(45deg);
            bottom: 30%;
        }
        &:hover,
        &:focus {
            background-color: $BG_COLOR1;
        }
        &:active {
            background-color: $ACCENT_COLOR;
        }
    }
    &-right {
        transform: rotate(180deg);
    }
}

.slider__dots {
    // padding-top: 77px;
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    &-item {
        height: 6px;
        width: 6px;
        background-color: $GRAY_COLOR;
        border-radius: 50%;
        margin: 0 7px;
    }
}
.active-dots {
    background: $ACCENT_COLOR;
    transform: scale(230%);
}

// END ===== style =====
