
// START ===== import =====

@import "values";
@import "mixins";
@import "icons";
@import "fonts";
@import "header";
@import "footer";
@import "reset";
@import "main-screen";
@import "section-ourWorks";
@import "section-ourLocation";
@import "section-designStudio";
@import "section-service";
@import "section-stageWorks";
@import "section-article";
@import "section-price.scss";

// END ===== import =====

// START ===== STYLE =====


._container{
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
    @media (max-width: 1023px){
        max-width: 894px;
    }
}

body._lock{
    overflow: hidden;
}

._h2-title{
    text-align: center;
    @include fonts(24, 34, 600, $TEXT_COLOR1, Montserrat);
        @media (min-width: 767px) {
            @include fonts(30, 36, 600, $TEXT_COLOR1, Montserrat);
        }
        @media (min-width: 1023px) {
            @include fonts(36, 43, 600, $TEXT_COLOR1, Montserrat);
        }
}


// END ===== STYLE =====