

// START ===== import =====
@import "reset";
@import "fonts";
@import "header";
@import "values";
@import "mixins";


// END ===== import =====

// START ===== STYLE =====


._container{
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
}


// END ===== STYLE =====