// START ===== VALUES COLORS =====

$BG_COLOR1: #F2F4F4;
$BG_COLOR2: #F9F4EE;
$ACCENT_COLOR: #E97522;
$TEXT_COLOR1: #333333;
$TEXT_COLOR2: #4A4A4A;
$GRAY_COLOR: #B1B1B1;
$GRADIENT: linear-gradient(90deg, rgba(255,169,107,1) 0%, rgba(238,122,40,1) 100%);

// END ===== VALUES COLORS =====