// START ===== variables =====

$BGCOLOR1: #f2f4f4;
$BGCOLOR2: #f9f4ee;
$ACCENTCOLOR: #f97517;
$TEXTCOLOR1: #333;
$TEXTCOLOR2: #4a4a4a;
$GRAY: #b1b1b1;
$GRADIENT: linear-gradient(
    180deg,
    rgba(255, 169, 107, 1) 0%,
    rgba(238, 122, 40, 1) 100%
);

// END ===== variables =====