.footer {
  &__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    @media (max-width: 767px) {
      padding-bottom: 20px;
    }
    @media (min-width: 1023px) {
      padding-right: 10px;
    }
  }

  &__logo_img {
    height: 55px;
    width: 171px;
  }
}