// START ===== import =====

@import "../../../../ui/style/values";
@import "../../../../ui/style/mixins";

// END ===== import =====

// START ===== style =====

.menu{
  &__item {
    white-space: nowrap;
    margin: 0 3px;
    padding: 5px 0px;
    z-index: 10;
    @media (max-width: 767px) {
      display: flex;
      margin: 0;
    }
  }
  &__link {
    transition: all 0.3s ease 0s;
    color: $TEXT_COLOR2;
    @include fonts(14, 20, 500, false, Montserrat);
    &:active {
      color: $ACCENT_COLOR;
    }
    &:hover,
    &:focus {
      color: $TEXT_COLOR1;
    }
    @media (max-width: 1023px) {
      @include fonts(12, 20, 500, false, Montserrat);
    }
    @media (max-width: 767px) {
      @include fonts(14, 20, 500, false, Montserrat);
      color: #fff;
    }
    @media (max-width: 767px) {
      margin-left: auto;
    }
  }
}