// START ===== import =====
@import "../../../ui/style/values";
@import "../../../ui/style/mixins";
// END ===== import =====

// START ===== style =====

.item_box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  &__body_item {
    max-width: 300px;
  }

  &__container {
    display: flex;
    flex: 0 1 420px;
    padding: 0;

    &:not(:last-child) {
      padding-bottom: 34px;
    }

    &:last-child .box_footer__box {
      justify-content: center;
    }

  }

  @media (min-width: 1232px) {
    &__container {
      &:not(:last-child) {
        padding-bottom: 0;
      }
    }
  }


  @media (min-width: 767px) {
    &__container {
      //flex: 0 1 420px;
    }
    &__wrapper {
      padding: 47px 22px;
    }
    &__header {
      padding-left: 30px;
    }
    &__name {
      padding-bottom: 16px;
      @include fonts(18, 22, 600, $TEXT_COLOR2, Montserrat);
    }
    &__body {
      padding-left: 30px;
      padding-bottom: 32px;
    }
    &__body_item {
      @include fonts(16, 22, 600, $TEXT_COLOR1, Montserrat);
      max-width: 300px;
    }
    &__button {
      @include fonts(16, 20, 600, #fff, Montserrat);
      padding: 14px 87px;
    }

  }
  @media (min-width: 1023px) {
    &__container {
      flex: 0 1 398px;
    }
    &__wrapper {
      padding: 48px 14px 42px;
    }
  }
  @media (min-width: 370px) {
    &__button {
      letter-spacing: 3px;
      padding: 19.5px 57.5px;
    }
    &__container {
      // padding: 0px 5px;
    }
    &__wrapper {
      padding: 45px 12px;
    }
  }


  &__wrapper {
    border-radius: 16px;
    flex: 0 1 100%;
    padding: 45px 1.5vw;
  }

  &__header {
    padding-left: 23px;
    padding-bottom: 40px;
  }

  &__name {
    padding-bottom: 8px;
    @include fonts(18, 22, 600, $TEXT_COLOR2, Montserrat);
  }

  &__cost {
    @include fonts(56, 67, 700, #333333, Montserrat);

    & > ._cost_value {
      font-size: 36px;
      line-height: 34px;
    }
  }

  &__value {
    text-align: left;
    white-space: nowrap;
    @include fonts(14, 20, 600, #838383, Montserrat);
  }

  &__body {
    padding-left: 23px;
    padding-bottom: 34px;
  }

  &__body_item {
    @include fonts(14, 20, 600, $TEXT_COLOR1, Montserrat);
    //white-space: nowrap;

    &:not(:last-child) {
      padding-bottom: 17px;
    }
  }

  &__button_container {
    text-align: center;
  }

  &__button {
    text-transform: uppercase;
    padding: 19.5px 42.5px;
    letter-spacing: 3px;
    background: $GRADIENT;
    border-radius: 10px;
    border: none;
    text-align: center;
    transition: all 0.3s ease;
    width: 100%;
    @include fonts(14, 17, 600, #fff, Montserrat);

    &:hover,
    &:focus {
      background: $GRADIENT_HOVER;
    }

    &:active {
      transform: scale(0.87);
      background: $GRADIENT_HOVER;
    }
  }
}

.box_footer {
  @media (min-width: 1023px) {

  }
  @media (min-width: 767px) {
    &__title {
      @include fonts(16, 22, 600, $TEXT_COLOR1, Montserrat);
    }
    &__box {
      flex-wrap: nowrap;
      padding-bottom: 52px;
      justify-content: space-between;
    }
    &__item {
      &:nth-of-type(1) {
        flex: 0 0 108px;
      }

      &:nth-of-type(2) {
        flex: 0 0 82px;
        padding-left: 0;
        padding-right: 2px;
      }

      &:last-child {
        flex: 0 0 170px;
        margin-top: 0;
      }
    }
  }

  &__title {
    text-align: center;
    padding-bottom: 12px;
    @include fonts(14, 20, 600, $TEXT_COLOR1, Montserrat);
  }

  &__box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 32px;
    padding-left: 8px;
    padding-right: 8px;
  }

  &__item {
    &:nth-of-type(1) {
      flex: 1 1 min(45%, 150px);
      padding-right: 2px;
    }

    &:nth-of-type(2) {
      flex: 1 1 min(45%, 150px);
      padding-left: 2px;
    }

    &:last-child {
      flex: 1 1 min(93%, 305px);
      margin-top: 5px;
    }
  }

  &__button {
    @include fonts(12, 14, 500, $TEXT_COLOR1, Montserrat);
    text-align: center;
    height: 40px;
    border: 1px solid #c2c2c2;
    background: #fff;
    border-radius: 5px;
    width: 100%;

    & > ._cost_value {
      font-size: 9px;
      line-height: 11px;
    }

    &:hover,
    &:focus {
      background: #f7f5f5;
    }

    &:active {
      border-color: $ACCENT_COLOR;
    }
  }
}


.theme_background_color_blue {
  background: $BG_COLOR1;
  background-image: url(../../../assets/img/cardsBackgroundCircle.png);
  background-repeat: no-repeat;
  background-size: 43% 27%;
  background-position: right top;
}

.theme_background_color_light_pink {
  background: $BG_COLOR2;
  background-image: url(../../../assets/img/cardsBackgroundCircle.png);
  background-repeat: no-repeat;
  background-size: 43% 27%;
  background-position: right top;
}

.theme_background_color_pink {
  background: rgba(245, 217, 198, 1);
  background-image: url(../../../assets/img/cardsBackgroundCircleBiggest.png);
  background-repeat: no-repeat;
  background-size: 47% 29%;
  background-position: right top;
}


._icon_list_style_image:before {
  display: inline-block;
  color: $TEXT_COLOR2;
  padding-right: 9px;
  font-size: 18px;
}

._cost_value {
  font-size: 36px;
  line-height: 34px;
}
